.chamada-texto {
    margin-bottom: 50px;
}
.chamada-foto {
    text-align: center;
}
.chamada-texto.seta-vinho {
    margin-bottom: 60px;
    padding-bottom: 30px;
}
.chamada-texto h1{
    text-align: center;
    margin-bottom: 30px;
}
.foto-borda {
    display: inline-block;
    border: 1px solid;
    max-width: 358px;
    border-radius: 180px;
    max-height: 358px;
    overflow: hidden;
    height: auto;
    width: 90%;
}
.foto-borda img {
    margin: 8px;
    display: block;
    height: auto;
    width: 100%;
    border-radius: 180px;
    max-width: 340px;
    max-height: 340px;
}
@media all and (max-width:992px) {
    .ctd-texto {
        text-align: center;
        padding: 20px 5%;
    }
    .chamada-texto h1 {
        margin-bottom: 0;
        padding: 0 5%;
    }
    .chamada-texto.chamada-foto h1 {
        margin-bottom: 30px;
    }
}
@media all and (max-width:400px) {
    .foto-borda {
        width: 300px;
        height: 300px;
    }
    .foto-borda img {
        width: 290px;
        height: 290px;
        margin: 4px;
    }
}