.chamada .row {
    margin: 0;
}
.chamada {
    margin-bottom: 40px;
}
.chamada-foto {
    text-align: center;
}
.chamada.seta-vinho {
    margin-bottom: 60px;
    padding-bottom: 30px;
}
.chamada h1{
    text-align: center;
}
.chamada-foto h1{
    margin-bottom: 30px;
}
.chamada-texto-centro h1 {
    margin-bottom: 20px;
}
.foto-borda, .foto-borda img{
    height: auto;
    border-radius: 180px;
}
.foto-borda {
    display: inline-block;
    border: 1px solid;
    overflow: hidden;
    width: 90%;
}
.foto-borda img {
    display: block;
    width: 100%;
}
.foto-borda-m{
    max-width: 240px;
}
.foto-borda-m img{
    max-width: 230px;
    max-height: 230px;
    margin: 4px;
}
.foto-borda-g{
    max-width: 358px;
    max-height: 358px;
}
.foto-borda-g img{
    margin: 8px;
    max-width: 340px;
    max-height: 340px;
}
@media all and (max-width:992px) {
    .ctd-texto {
        text-align: center;
        padding: 20px 5%;
    }
    .chamada h1 {
        padding: 0 5%;
    }
    .chamada-texto h1 {
        margin-bottom: 0;
    }
}
@media all and (max-width:400px) {
    .foto-borda-g {
        width: 280px;
        height: 280px;
    }
    .foto-borda-g img {
        width: 270px;
        height: 270px;
        margin: 4px;
    }
}