#home-section-1 {
    margin-bottom: 35px;
    margin-top: 20px;
}
@media all and (max-width:992px) {
    #home-section-1 {
        margin: 20px;
    }
    #home-section-1 h1 {
        margin: 0px;
    }
}