.ipt-reset {
    border-radius: 5px;
    border: 1px solid #D1D3D4;
    padding: 13px;
    color: #414042;
    font: 14px/1.2 'Raleway', sans-serif;
}
.btn-reset {
    background: #CCCAC2;
    border-radius: 5px;
    border: none;
    text-align: center;
    font: 500 18px/1.2 'Raleway', sans-serif;
    padding: 13px 20px;
    display: inline-block;
    cursor: pointer;
    color: white;
    transition: 0.15s;
}
.btn-reset:hover{
    background:#4D6574;
    color: white;
}
.fundo-vinho .btn-reset{
    border: 1px solid white;
    background: white;
    color:#4D6574;
}
.fundo-vinho .btn-reset:hover {
    background: transparent;
    color: white;
}
.txt-center{
    text-align: center;
}
.titulo-principal{
    margin-bottom: 30px;
}